<footer class="footer">
    <div class="container">
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <!---
            <p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
            -->
            {% assign social_links = site.data.social-media %}
            {% for link in social_links %}
            <a href="{{ link.url }}" target="_blank">
                <i class="{{ link.icon }}" style="font-size: 1.5rem; margin-right: 1rem;"></i>
            </a>
            {% endfor %}
        </div>
    </div>
</footer>
