
<nav class="navbar is-primary" >
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                {{ site.title }}
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">Home</a>
                {% if site.data.navigation %}
                {% for item in site.data.navigation %}
                    <a href="/{{ item.link }}" class="navbar-item">{{ item.name }}</a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>
