<style>
    .entry h5 span {
        font-size: 0.8em;
        color: gray;
    }
</style>

<div class="section-index">
    <hr class="panel-line">

    {% assign folder_categories = 'concepts,algorithms,data-structures' | split: ',' %}
    {% assign sorted_docs = site.pages | sort: 'path' %}
    {% assign sorted_docs_custom = "" | split: "," %}

    {% for folder_category in folder_categories %}
        {% assign docs_in_folder = sorted_docs | where_exp: "doc", "doc.categories contains folder_category" %}
        {% assign sorted_docs_custom = sorted_docs_custom | concat: docs_in_folder %}
    {% endfor %}

    {% for docs_post in sorted_docs_custom %}
        <div class="entry">
            <h5>
                <a href="{{ docs_post.url | prepend: site.baseurl }}">{{ docs_post.title }}</a>
                <span>{{ docs_post.categories }}</span>
            </h5>
        </div>
    {% endfor %}

    <hr class="panel-line">
</div>