<div class="notification {{ include.status | default: 'is-warning' }}" markdown="0">
    {% if include.dismissable == "yes" %}
        <button class="delete"></button>
    {% endif %}
    <article class="media">
        {% unless include.icon == "none" %}
            <div class="media-left">
                <span class="icon"><i class="{{ include.icon | default: 'fas fa-exclamation-circle' }} fa-lg"></i></span>
            </div>
        {% endunless %}
        <div class="media-content">
            <div class="content">{{ include.message | markdownify }}</div>
        </div>
    </article>
</div>