<article class="media">
    <figure class="media-left">
        {% if review.avatar %}
            <p class="image is-48x48">
                <img src="{{ review.avatar }}" alt="{{ review.name }}" class="is-rounded">
            </p>
        {% else %}
            <div class="icon is-large">
                <i class="fas fa-user fa-2x"></i>
            </div>
        {% endif %}
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>{{ review.name }}</strong> <small>{{ review.date }}</small>
                <br>
                <strong>{{ review.title }}</strong>
                <br>
                {{ review.description }}
            </p>
        </div>
        {% if review.rating %}
            {% include rating.html rating=review.rating align="has-text-left" %}
        {% endif %}
    </div>
</article>
