{% if page.showcase %}
    {% assign showcase = site.data.[page.showcase] %}

    <div class="content">
        <p>{{ showcase.intro | newline_to_br }}</p>
    </div>

    {% for showcase in showcase.items %}
        <div class="hero is-large showcase" style="background: url('{{ showcase.image }}') no-repeat center center; background-size: cover;">
            <div class="hero-body">
                <div class="columns">

                    {% assign mod = forloop.index | modulo:2 %}
                    {% if mod == 1 %}
                        <div class="column is-5"></div>
                    {% endif %}

                    <div class="column is-7 showcase-content {% if mod == 1 %} right {% endif %}">

                        <p class="title">{{ showcase.title }}</p>
                        <div class="content">
                            <p>{{ showcase.description | newline_to_br }}</p>

                            {% if showcase.features %}
                            <ul>
                            {% for feature in showcase.features %}
                                <li>{{ feature }}</li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </div>

                        {% if showcase.tags %}
                        {% assign tags = showcase.tags | split: "," %}
                        <div class="tags">
                            {% for tag in tags %}
                                <div class="tag is-dark">{{ tag }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <a href="{{ showcase.link }}" class="button is-primary">
                            {{ showcase.link_text }}
                        </a>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}