@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Montserrat', sans-serif;
$primary: #157c95 !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/sass";
@import "../node_modules/bulma/sass/utilities/mixins";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "block-list";
@import "promo-page";
@import "category";

.gh-sponsor {
  color: #ea4aaa;
}