@charset "utf-8";

$primary: #188eac !default;

@use "../node_modules/bulma/sass" with (
  $primary: $primary,
  $family-sans-serif: "'Montserrat', sans-serif",
  $tabs-link-active-color: $primary,
  $tabs-link-active-border-bottom-color: $primary,
  $modal-content-width: 800px,
);
@use "layout";
@use "syntax";
@use "showcase";
@use "block-list";
@use "promo-page";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.gh-sponsor {
  color: #ea4aaa;
}