.showcase {
    margin-bottom: 2rem;

    .hero-body {
        padding: 3rem 0;

        .columns {
            margin: 0;
        }
    }

    &-content {
        background: rgba($white, 0.8);
        padding: 2rem;

        @include tablet {
            box-shadow: 2px 2px 2px rgba($grey, 0.5);

            &.right {
                box-shadow: -2px 2px 2px rgba($grey, 0.5);
            }
        }
    }
}