---
---

// Main CSS file
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Montserrat', sans-serif;
$primary: #188eac;

@import "../node_modules/bulma/bulma.sass";
@import "layout";